.color-bg-01 {
    background-color: #f8c083;
}

.color-bg-02 {
    background-color: #ca8c63;
}

.color-bg-11 {
    background-color: #b3b7b7;
}

.color-bg-12 {
    background-color: #b9baba;
}



.color-font-01 {
    color: #a3a2a0;
}

.color-font-02 {
    color: black;
}